/* GLOBAL STUFF */
/* SASS VARIABLES */
@font-face {
  font-family: 'Commodore Pixelized';
  src: url("../fonts/Commodore Pixelized.ttf") format("truetype");
  font-style: normal; }
* {
  box-sizing: border-box;
  z-index: 1; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
/* STYLES */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #222222;
  position: relative; }

h1, h2, h3, h4, h5 {
  font-family: "Commodore Pixelized", serif;
  padding: 0;
  margin: 0; }

h1 {
  font-size: 2.3rem; }

h2 {
  font-size: 2.4rem;
  margin: 0 0 40px 0; }

.loading {
  width: 100%; }
  .loading img {
    width: 50px; }

header {
  padding: 15px;
  padding-top: 20px;
  background-color: #564eb3;
  position: fixed;
  width: 100%;
  z-index: 2; }

section {
  width: 100%;
  padding: 5%; }

#about, #projects, #locations, #contact {
  text-align: center; }

nav {
  width: 480px;
  font-size: 1.2rem;
  float: right;
  vertical-align: middle; }

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  display: block; }

.nav-links a {
  color: gainsboro;
  text-decoration: none;
  vertical-align: middle;
  transition: color 0.2s; }

.nav-links a:hover {
  color: #fafafa; }

nav li {
  float: left;
  margin-left: 5%; }

.nav-links li:nth-child(5) {
  background-color: #f9f7f0;
  padding: 4px;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 4px #444;
  transition: background-color 0.1s; }
  .nav-links li:nth-child(5) a {
    transition: color 0.1s; }

.nav-links li:nth-child(5):hover {
  background-color: #45448f; }
  .nav-links li:nth-child(5):hover a {
    color: #f9f7f0; }

nav li:nth-child(5) a {
  color: #5a5a66; }

.hamburger {
  position: relative;
  padding: 0;
  margin: 0;
  float: right; }
  .hamburger li {
    font-size: 5rem;
    color: gainsboro;
    display: none;
    padding: 0;
    margin: 0;
    height: 0px;
    vertical-align: top;
    position: relative;
    top: -50px; }

#logo {
  float: left;
  color: #f6f6f6; }

#hidden {
  height: 71px;
  width: 100%; }

#home {
  background-image: url("../images/circuits_bg_lowres.jpg");
  background-size: cover; }

.container {
  width: 50%;
  margin: 0 auto; }

.blurb {
  float: left;
  width: 300px;
  color: #e6e6e6;
  padding: 10px; }

.imagestack {
  width: 620px;
  margin: 0 auto; }

.imgblock {
  float: left;
  padding: 10px;
  width: 300px;
  height: 300px;
  margin: 0 10px 10px 0;
  color: #f6f6f6;
  opacity: 0.7;
  transition: opacity 0.5s; }

.imgblock:hover {
  opacity: 1; }

.imgblock:first-child {
  background-image: url("../images/quad1.jpg"); }

.imgblock:nth-child(2) {
  background-image: url("../images/quad2.jpg"); }

.imgblock:nth-child(3) {
  background-image: url("../images/quad3.jpg"); }

#about {
  background-color: #f9f7f0; }

#about h2 {
  color: #564eb3; }

#people {
  margin: 0 auto;
  max-width: 77%; }

.person {
  float: left;
  width: 33.3%;
  border-radius: 100%;
  margin-bottom: 20px; }

.person img {
  border-radius: 100%;
  width: 220px; }

.bios {
  margin-top: 20px;
  width: 66%;
  margin: 0 auto;
  clear: left;
  text-align: left; }

#projects {
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  background-color: white; }
  #projects h2 {
    color: #564eb3; }

.projectblock {
  width: 100%;
  margin: 0 auto; }

.project {
  float: left;
  padding: 1%;
  width: 25%; }
  .project figcaption {
    color: #454545;
    font-size: 0.9rem;
    margin-bottom: 50px; }

.description {
  clear: left;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 3%;
  border: 20px solid #8893ee;
  background-color: #564eb3;
  color: #8893ee; }
  .description .typer {
    font-family: 'Commodore Pixelized';
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.8rem; }
  .description p {
    display: none; }

.blink_me {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@-moz-keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
#locations {
  background-color: #f9f7f0; }
  #locations button {
    width: 155px;
    color: white;
    font-size: 1rem;
    padding: 10px;
    background-color: #45448f;
    border: 0;
    border-top: 5px solid #6a75d0; }
  #locations button:first-child {
    border-top: 5px solid #8893ee; }

.tabs button:focus {
  outline: none; }

.mapblock {
  height: 400px;
  max-width: 635px;
  margin: 0 auto 50px auto; }

#mapCanvas {
  height: 100%;
  width: 100%;
  margin: 0; }

#contact {
  background-color: #564eb3; }
  #contact h2 {
    color: #f6f6f6; }
  #contact p {
    color: #f6f6f6; }
  #contact button {
    font-family: "Commodore Pixelized", serif;
    background-color: #8c8c8c;
    border: 0;
    box-shadow: 0 5px #444;
    height: 60px;
    border-radius: 5px;
    width: 40%;
    font-size: 1.5rem;
    margin-top: 20px; }
  #contact .contact_form {
    background-color: white;
    display: block;
    width: 50%;
    height: 60px;
    font-size: 1.5rem;
    margin: 0px auto;
    border-radius: 5px;
    border: 0;
    padding: 10px; }
  #contact fieldset {
    text-align: left;
    width: 50%;
    height: 120px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: white; }
    #contact fieldset .radio {
      margin: 10px; }
  #contact #user_notes {
    height: 200px; }

#contact .contact_form {
  text-align: left;
  height: 60px; }
  #contact .contact_form label {
    font-size: 1.2rem; }

footer {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: #564eb3; }
  footer p {
    margin: 0;
    padding: 0; }

@media (max-width: 1008px) {
  #hidden {
    height: 67px; }

  #logo {
    font-size: 2rem; }

  #about img {
    width: 180px; } }
@media (max-width: 890px) {
  section {
    padding-left: 0;
    padding-right: 0; }

  nav {
    clear: left;
    width: 100%; }

  .nav-links {
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
    background-color: black; }
    .nav-links li {
      float: none;
      padding: 20px;
      margin: 0;
      text-align: center; }

  .hamburger {
    float: right; }
    .hamburger li {
      display: block;
      top: -103px;
      margin-right: 20px; }

  header {
    height: 74px;
    padding: 0; }
    header #logo {
      margin-bottom: 23px;
      margin-top: 20px;
      margin-left: 20px; }

  .nav-links li:nth-child(5) {
    background-color: black;
    padding: 20px;
    border-radius: 0; }
    .nav-links li:nth-child(5) a {
      color: #f9f7f0;
      font-size: 1.2rem; }

  .bios {
    width: 70%; }

  figure:nth-child(2) {
    clear: left; }

  .projectblock {
    width: 100%; }
    .projectblock .project {
      width: 50%;
      height: 300px; } }
@media (max-width: 700px) {
  header #logo {
    font-size: 1.2rem;
    margin-top: 25px; }

  h2 {
    font-size: 1.5rem; }

  h3 {
    font-size: 1.2rem; }

  .hamburger li {
    top: -97px;
    margin-right: 10px; }

  nav {
    font-size: 1.2rem; }

  .nav-links li:nth-child(5) {
    font-size: 1.2rem; }

  #people {
    max-width: 100%; }
    #people .person img {
      width: 100%; }

  .bios {
    margin: 0;
    width: 100%; }
    .bios .bio {
      width: 95%;
      margin: 0 auto; }
      .bios .bio p {
        width: 100%; }

  .projectblock .project {
    clear: both;
    width: 100%;
    height: 230px; }

  .description {
    border-width: thick; }

  #location {
    height: 800px; }

  .imagestack {
    margin: 0 0;
    width: 100%; }

  .imgblock {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px; }

  #home {
    height: 80%; }

  .blurb {
    width: 100%; }
    .blurb p {
      width: 100%; }

  .tabs {
    width: 100%; }

  #locations button {
    display: block;
    width: 100%; }

  #mapCanvas {
    height: 66%; }

  #contact .contact_form {
    width: 90%; }

  #contact fieldset {
    width: 90%; }

  #contact button {
    width: 90%; } }

/*# sourceMappingURL=main.css.map */
