/* SASS VARIABLES */
$heading-font: 'Commodore Pixelized', serif;

$heading1: 2.3rem;
$heading1-tablet: 2rem;
$heading2: 2.4rem;
$heading2-tablet: 2rem;
$nav: 1.2rem;
$hamburger-size: 5rem;
$major-button-text: 1.5rem;
$minor-button-text: 1rem;
$figure-caption: 0.75rem;

$thin-border: 1px solid #666;

$primary-site-color: rgb(86, 78, 179);

$primary-button-bg-color: rgb(78, 79, 61);
$primary-button-font-color: rgb(34, 34, 26);

$site-off-white: rgb(249, 247, 240);

$secondary-button-bg-color: rgb(69, 68, 143);
$secondary-button-font-color: rgb(90, 90, 102);

$body-font: rgb(34, 34, 34);
$body-font-light: rgb(230, 230, 230);

$site-headings-light: rgb(246, 246, 246);

$site-headings-dark: rgb(86, 78, 179);

$navigation-links: rgb(220, 220, 220);

$figure-caption-font-color: rgb(69, 69, 69);
